body {
  font-family: Verdana, 'Lucida Sans Unicode', sans-serif
}

#container {
  position: relative;
}

#videoElement {
  width: 600px;
  height: 400px;
  background-color: #666;
}

#imgElement {
  width: 600px;
  height: 400px;
}

main {
  margin-bottom: 10px;
  border: 10px #333 solid;
  width: 70%;
  height: 100vh;
}

#chromeCanvas {
}

aside {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0 1.5%;
}

#chromaSliders label {
  display: block;
}

#chromaSliders input[type=range] {
  width: 256px;
  margin-bottom: 8px;
}

#colorSlider {
  background-image: url("/images/slidecolor.png");
}

aside button {
  display: block;
  margin-bottom: 10px;
  padding: 20px;
  font-size: 20px;
  background-color: lightblue;
}

#bg-img {
  width: 288px;
  border: 2px solid lightblue;
  cursor: pointer;
}
}