body {
  font-family: Verdana, 'Lucida Sans Unicode', sans-serif
}

#container {
  position: relative;
}

main {
  margin-bottom: 10px;
  border: 10px #333 solid;
  width: 800px;
  height: 599px;
}

aside {
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 0 1.5%;
}

#chromaSliders label {
  display: block;
}

#chromaSliders input[type=range] {
  width: 250px;
  margin-bottom: 8px;
}

#bg-img {
  width: 288px;
  cursor: pointer;
}

#shootBtn {
  width: 288px;
  cursor: pointer; 
}

.vex.vex-theme-flat-attack .vex-content {
  top: -38px;
}

#search-box {
  border: 1px solid #aaa;
  padding: 10px;
  font-size: 16px;
   border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
  width: 310px;
}

#search-btn {
  background: #0099ff;
  color: white;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  border: 0 none;
  font-weight: bold;
  cursor: pointer;
}

#imageResults {
  margin-top: 35px;
  width: 755px;
}

#imageResults img {
  cursor: pointer;
}